@tailwind base;
@tailwind components;
@tailwind utilities;

/* --- CONFIGURAÇÕES GERAIS --- */
:root {
  /* Cor de fundo estilo Portal 6: Cinza gelo suave */
  --background-site: #f4f6f8; 
}

body {
  background-color: var(--background-site);
  /* Transição suave para Dark Mode */
  @apply transition-colors duration-300;
}

/* Modo Escuro (Dark Mode) */
@media (prefers-color-scheme: dark) {
  :root {
    --background-site: #111827; /* Cinza chumbo */
  }
}

/* EFEITO DE SLIDE VERTICAL */
@keyframes slide-up-fade {
  0% {
    opacity: 0;
    transform: translateY(20px); /* Começa um pouco abaixo */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* Termina na posição certa */
  }
}

.animate-slide-up {
  animation: slide-up-fade 0.5s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}